@charset "UTF-8";
*, *::before, ::afret {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: Montserrat;
  background-image: url("images/Фото-на-рабочий-стол-черное-необычное-13.jpg");
}

/*-----------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-----------------------------------------------------------*/
._container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absoute;
  width: 100%;
  height: 87%;
  max-height: 1080px;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------------------------Шапка--------------------------*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.75);
  border-bottom: 2px rgba(38, 38, 38, 0.88) solid;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 86px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*мобильный размер2*/
@media (max-width: 479px) {
  .header__container {
    min-height: 75px;
  }
}

.header__logo {
  font-size: 50px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0px 0px 0px 120px;
}

/*Планшетный размер*/
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 100px;
  }
  .header__logo {
    font-size: 40px;
  }
}

/*мобильный размер*/
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
  .header__logo {
    font-size: 30px;
  }
}

/*мобильный размер2*/
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 60px;
  }
}

/*мобильный размер2*/
@media (max-width: 365px) {
  .header__menu {
    margin: 0px 0px 0px 0px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(40 / 30 * 100%);
}

/*мобильный размер2*/
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/*--------------------------Page------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/*------------------------------info---------------------------------*/
.headblock-background__main {
  height: 400px;
}

.Title__main {
  z-index: 15;
  margin-top: 150px;
  position: absolute;
  width: 99%;
}

.Title__main h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  color: white;
}

.background-head-image {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.information-block__main {
  max-width: 1080px;
  margin: 150px auto;
  padding: 50px 0 50px 0;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Infoblock-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.infoblock__menu li {
  padding: 5px;
  width: 150px;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  text-align: center;
  word-break: break-all;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.infoblock__menu li:not(:first-child) {
  margin-top: 25px;
}

.infoblock__menu li:hover {
  background: rgba(156, 0, 0, 0.8);
  border-radius: 5px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Infoblock-block__container {
  width: 60%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 0px 40px black;
          box-shadow: inset 0px 0px 40px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.Infoblock-block__text {
  word-break: break-all;
  line-height: calc(40 / 30 * 100%);
}

input[name="text-buttom"] {
  visibility: hidden;
  position: absolute;
}

.text1, .text2, .text3, .text4, .text5 {
  position: absolute;
  visibility: hidden;
}

#check1:checked ~ .text1 {
  position: relative;
  visibility: visible;
  word-break: break-word;
}

#check2:checked ~ .text2 {
  position: relative;
  visibility: visible;
  word-break: break-word;
}

#check3:checked ~ .text3 {
  position: relative;
  visibility: visible;
  word-break: break-word;
}

#check4:checked ~ .text4 {
  position: relative;
  visibility: visible;
  word-break: break-word;
}

#check5:checked ~ .text5 {
  position: relative;
  visibility: visible;
  word-break: break-word;
}

.buttom_menu {
  width: 50px;
  height: 25px;
}

@media (max-width: 600px) {
  .Infoblock-block__container {
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .information-block__main {
    display: inline-block;
  }
  .infoblock__menu {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .infoblock__menu li {
    margin: 10px;
  }
  .infoblock__menu li:not(:first-child) {
    margin-top: 10px;
  }
  .Infoblock-block__container {
    width: 100%;
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .Infoblock-menu__container {
    margin-right: 0;
  }
}

/*--------------------подвал-------------------------------*/
.footer-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.footer-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px auto;
  width: 100%;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-info-block {
  margin: auto;
  position: relative;
}
/*# sourceMappingURL=services.css.map */